
body {
    font: 16px Helvetica;
}

#main {
    margin-top: 50px;
    width: 80%;
}

.literal-block {
    border: 1px solid black;
    padding: 20px;
    font-size: 10pt;
    font-family: Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

.banner {
    margin-top: 5px;
}

.author {
    color: #922;
    display: inline;
}

.date {
    color: #292;
    display: inline;
    margin-left: 100px;
}

.txtarea {
    width: 100%;
}

#loading {
    font-size: 20px;
    padding-left: 100px;
}

.submit {
    padding: 5px;
}

.issuepreview {
//    height: 30px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #f5f5f5;
    font-size: 10pt;
}

.issuepreview:hover {
    background: #eee;
    cursor: pointer;
}

.issuethumb:hover {
    color: blue;
}

#searchboxcontainer {
    margin-left: 50px;
}

#searchbox {
    font: 20px Helvetica;
    margin-right: 50px;
}

.issuelist {
    list-style-type: none;
    padding-left: 30px;
    word-wrap: break-word;
}

.issuethumb {
    font: 20px Helvetica;
    margin: 0px;
}
