<ul class="issuelist">
  {% for issue in issues %}
     <li class="issuepreview">
       <p class="issuethumb" onclick="openissue({{ issue.id }}); return false">
         {{ issue.title }}
       </p>
       <div id="issue{{ issue.id }}" style="display: none">
         <div class="banner">
         <p class="author">{{ issue.creator }}</p>
         <p class="date">{{ issue.created }}</p>
         </div>
         <div id="issuebody{{ issue.id }}">
         {{ issue.full_body|safe }}
         </div>
         <div>
           <textarea id="txt{{ issue.id }}" class="txtarea" rows="15"></textarea>
           <div class="submit" >
             Author: <input id="author{{ issue.id }}" class="authorinput"></input>
             <a href="#" onclick="post({{ issue.id }}); return false;">submit</a>
           </div>
         </div>
       </div>
     </li>
  {% endfor %}
</ul>
